<nav class="" role="navigation">
    <div class="page-header">
        <span><a href="/"><img src="/img/logo.png" class="small-logo"></a></span>
        <span class="page-title"><%= pageTitle %></span>
        <span class="version">0.1.0</span>
    </div>
</nav>