<div class="navbar">
    <a href="/" class="navbar-button">Home</a>
    <a href="/scotches" class="navbar-button">Cabinet</a>
    <a href="/wishlists" class="navbar-button">Wishlists</a>
    <a href="/tastings" class="navbar-button">Tastings</a>
    <a href="/signout" class="navbar-button">Sign out</a>
</div>